/** FONT(S) **/
@import url("https://fonts.googleapis.com/css?family=EB+Garamond:400,500|Roboto:400,700");

/** LINKED CSS FILES **/
@import "./navbar.css";
@import "./buttons.css";
/* @import "./blog.css";
@import "./blogs.css";
@import "./about.css";
@import "./contact.css"; */

:root {
  --palette-bg-light: #ffffff;
  --palette-main-clr: #011fde;
  --palette-border-clr: #c3c3c3;
  --palette-gradient-clr: #f4f4f4;
}

/**** GLOBAL STYLING ****/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  background-color: var(--palette-main-clr);
  font-family: "acumin-variable", sans-serif;
  font-variation-settings: "slnt" 0, "wdth" 100, "wght" 300;
}
body {
  background-color: #f7f6f6;
  position: relative;
  background-color: var(--palette-main-light);
}
hr {
  width: 80%;
}
h1,
h2 {
  text-align: center;
  color: var(--palette-bg-light);
}

h1 {
  font-size: 2.325rem;
  margin: 0;
  padding: 1rem 0;
}

h1,
h2,
h3 {
  font-family: "EB Garamond", serif;
}

h2 {
  font-size: 2rem;
  margin-top: 1rem;
}

h3 {
  font-size: 1.75rem;
}

blockquote {
  font-style: italic;
  text-align: center;
  width: 40rem;
  height: auto;
  max-width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
}

li {
  list-style-type: decimal;
  text-align: start;
}

a {
  text-decoration: none;
}

p {
  line-height: 1.8em;
  background-color: var(--palette-bg-light);
}
figure {
  padding: 0;
  margin: 0;
}
figcaption {
  color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
}
/* **Structure website height** */
nav {
  margin: 0 !important;
}
main {
  margin: 0 !important;
  /* min-height: 90vh; */
}

footer {
  height: 2rem;
  position: fixed;
  display: grid;
  grid-template-columns: auto 591px;
  justify-content: center;
  align-items: center;
  width: 99.6%;
  bottom: 0;
  margin: 0;
  justify-content: space-between;
  font-weight: 700;
  font-style: normal;
  background-color: var(--palette-main-clr);
  color: white !important;
  border: 1px solid var(--palette-border-clr);
  z-index: 1;
}

table,
th {
  margin: auto;
  border-spacing: 1rem;
  text-align: start;
}

.ref-container ul {
  text-align: start;
  width: 70vw;
  margin: auto;

  line-height: 2em;
}
.ref-container li {
  list-style: square;
}
.main-container {
  text-align: center;
}
.container {
  text-align: center;
  margin: auto;
  width: 80vw;
  height: auto;
  min-height: auto;
  margin-bottom: 40px;
  position: relative;
}
.container .content {
  width: 70%;
  margin: auto;
  text-align: left;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 500px;
}

.footLog {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #011fde;
}

.brdCrmbTrl {
  color: var(--palette-bg-light) !important;
  /* padding: 10px; */
  padding-left: 20px;
  margin-left: 149px;
  border-left: 1px solid white;
}

.brdCrmbTrl a {
  color: var(--palette-bg-light);
}
